DummyToDoManager/Service References/ToDoClientManager/ToDoProxyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ToDoProxyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dubodel-001-site1.mywindowshosting.com/ToDoProxyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dubodel-001-site1.mywindowshosting.com/ToDoProxyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dubodel-001-site1.mywindowshosting.com/ToDoProxyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IToDoProxyService_CreateToDoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateToDoItem" />
  </wsdl:message>
  <wsdl:message name="IToDoProxyService_CreateToDoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateToDoItemResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoProxyService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IToDoProxyService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoProxyService_DeleteToDoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDoItem" />
  </wsdl:message>
  <wsdl:message name="IToDoProxyService_DeleteToDoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDoItemResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoProxyService_GetTodoList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTodoList" />
  </wsdl:message>
  <wsdl:message name="IToDoProxyService_GetTodoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTodoListResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoProxyService_UpdateToDoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToDoItem" />
  </wsdl:message>
  <wsdl:message name="IToDoProxyService_UpdateToDoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToDoItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IToDoProxyService">
    <wsdl:operation name="CreateToDoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoProxyService/CreateToDoItem" message="tns:IToDoProxyService_CreateToDoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoProxyService/CreateToDoItemResponse" message="tns:IToDoProxyService_CreateToDoItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoProxyService/CreateUser" message="tns:IToDoProxyService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoProxyService/CreateUserResponse" message="tns:IToDoProxyService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteToDoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoProxyService/DeleteToDoItem" message="tns:IToDoProxyService_DeleteToDoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoProxyService/DeleteToDoItemResponse" message="tns:IToDoProxyService_DeleteToDoItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTodoList">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoProxyService/GetTodoList" message="tns:IToDoProxyService_GetTodoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoProxyService/GetTodoListResponse" message="tns:IToDoProxyService_GetTodoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateToDoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoProxyService/UpdateToDoItem" message="tns:IToDoProxyService_UpdateToDoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoProxyService/UpdateToDoItemResponse" message="tns:IToDoProxyService_UpdateToDoItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IToDoProxyService" type="tns:IToDoProxyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateToDoItem">
      <soap:operation soapAction="http://tempuri.org/IToDoProxyService/CreateToDoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IToDoProxyService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteToDoItem">
      <soap:operation soapAction="http://tempuri.org/IToDoProxyService/DeleteToDoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodoList">
      <soap:operation soapAction="http://tempuri.org/IToDoProxyService/GetTodoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateToDoItem">
      <soap:operation soapAction="http://tempuri.org/IToDoProxyService/UpdateToDoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ToDoProxyService">
    <wsdl:port name="BasicHttpBinding_IToDoProxyService" binding="tns:BasicHttpBinding_IToDoProxyService">
      <soap:address location="http://dubodel-001-site1.mywindowshosting.com/ToDoProxyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>